<% include ./partials/header %>

    <h3>Welcome Home!</h3>
    <li><a href="/signup">Sign Up</a></li>
    <li><a href="/login">Log In</a></li>
    <li><a href="/logout">Log Out</a></li>

<% include ./partials/header %>