<% include ./partials/header %>

    <h3>Log In!</h3>
    <form action="/login" method="POST">
        <input type="text" placeholder="User Name" name="username">
        <input type="password" placeholder="Password" name="password">
        <button>Submit</button>
    </form>

    <li><a href="/signup">Sign Up</a></li>
    <li><a href="/login">Log In</a></li>
    <li><a href="/logout">Log Out</a></li>

<% include ./partials/header %>