<% include ./partials/header %>

    <h3>Log In!</h3>
    <form action="/login" method="POST">
        <input type="text" placeholder="User Name" name="username">
        <input type="password" placeholder="Password" name="password">
        <button>Submit</button>
    </form>

<% include ./partials/header %>